@page
@model MindPlaceClient.Pages.Public.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
}

<div class="vertical-align-wrap">
    <div class="vertical-align-middle">
        <div class="auth-box h-auto">
            <div class="left">
                <div class="content">
                    <div class="header">
                        <div class="text-center">
                            <img src="~/assets/img/logo-dark.png" style="width: 200px" alt="mindsplace Logo">
                        </div>
                        <p class="lead">Please enter the email associated with your account</p>
                        @if (HttpContext.Request.Query["action"] == "resetPassword")
                        {
                            <p class="text-center text-success font-weight-bold">The link has been sent, please check your email to reset your password.</p>
                        }

                    </div>
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger text-left"></div>
                        <div class="form-auth-small">
                            <div class="form-group">
                                <label asp-for="Email" class="control-label sr-only">Email</label>
                                <input id="email" class="form-control" type="email" asp-for="Email" placeholder="email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-warning btn-lg btn-block text-white">SUBMIT</button>
                            <div class="bottom">
                                <span class="helper-text">
                                    <i class="fa fa-user-plus"></i> <a asp-page="Register" style="color: #f35f09"> Create New Account</a>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>