@page
@model MindPlaceClient.Pages.DashBoardModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "DashBoard";
}

<main>
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-lg-3 col-md-4 pd-left-none no-pd">
                        <div class="main-left-sidebar no-margin">
                            <div class="user-data full-width">
                                <div class="user-profile">
                                    <div class="username-dt">
                                        <div class="usr-pic">
                                            <img src="~/images/resources/user-pic.png" alt="">
                                        </div>
                                    </div>
                                    <div class="user-specs">
                                        <h3>John Doe</h3>
                                        <span>Graphic Designer at Self Employed</span>
                                    </div>
                                </div>
                                <ul class="user-fw-status">
                                    <li>
                                        <h4>Number Of Questions </h4>
                                        <span>34</span>
                                    </li>
                                    <li>
                                        <h4>Referal ID </h4>
                                        <span><a>mindsplace.com/username/date</a></span>
                                    </li>
                                    <li>
                                        <h4>Number Of Referals </h4>
                                        <span>14</span>
                                    </li>
                                    <li>
                                        <a href="https://www.gambolthemes.net/workwise-new/my-profile.html" title="">View Profile</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="tags-sec full-width">
                                <ul>
                                    <li><a href="#" title="">Help Center</a></li>
                                    <li><a href="#" title="">About</a></li>
                                    <li><a href="#" title="">Privacy Policy</a></li>
                                    <li><a href="#" title="">Community Guidelines</a></li>
                                    <li><a href="#" title="">Cookies Policy</a></li>
                                    <li><a href="#" title="">Career</a></li>
                                    <li><a href="#" title="">Language</a></li>
                                    <li><a href="#" title="">Copyright Policy</a></li>
                                </ul>
                                <div class="cp-sec">
                                    <img src="~/images/logo2.png" alt="">
                                    <p>
                                        <img src="images/cp.png" alt="">Copyright 2019
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 no-pd">
                        <div class="main-ws-sec">
                            <div class="post-topbar">
                                <div class="user-picy">
                                    <img src="images/resources/user-pic.png" alt="">
                                </div>
                                <div class="post-st">
                                    <ul>

                                        <li><a class="post-jb active" href="#" title="">Ask a Question</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="posts-section">
                                <div class="post-bar">
                                    <div class="post_topbar">
                                        <div class="usy-dt">
                                            <img src="images/resources/us-pic.png" alt="">
                                            <div class="usy-name">
                                                <h3>John Doe</h3>
                                                <span>
                                                    <img src="images/clock.png" alt="">3 min ago
                                                </span>
                                            </div>
                                        </div>
                                        <div class="ed-opts">
                                            <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                                            <ul class="ed-options">
                                                <li><a href="#" title="">Edit Post</a></li>
                                                <li><a href="#" title="">Unsaved</a></li>
                                                <li><a href="#" title="">Unbid</a></li>
                                                <li><a href="#" title="">Close</a></li>
                                                <li><a href="#" title="">Hide</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="epi-sec">
                                    </div>
                                    <div class="job_descp">
                                        <h3>Senior Wordpress Developer</h3>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit metus, ut ullamcorper quam finibus at. Etiam id magna sit amet... <a href="#" title="">view more</a></p>

                                    </div>
                                    <div class="job-status-bar">
                                        <ul class="like-com">

                                            <li><a class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" class="com"><i class="fas fa-comment-alt"></i>Comment 15</a></li>


                                            <div class="collapse" id="collapseExample">
                                                <div class="card card-body" style="padding: 10px">

                                                    <!-- Main Body -->
                                                    <section>
                                                        <div class="col-sm-12 col-md-12" style="padding: 0px">
                                                            <div class="row">
                                                                <div class="col-sm-12 col-md-12 col-12 pb-4" style="padding: 0px">

                                                                    <div class="comments mt-4 text-justify float-left">
                                                                        <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="40" height="40">
                                                                        <h4>Jhon Doe</h4>
                                                                        <span style="color: black">- 20 October, 2018</span>
                                                                        <br>
                                                                        <br />
                                                                        <p style="color: black">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
                                                                    </div>

                                                                </div>

                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                        </ul>
                                        <a href="#"><i class="fas fa-eye"></i>Views 50</a>
                                    </div>
                                </div>
                                <div class="top-profiles">
                                    <div class="pf-hd">
                                        <h3>PRPFESSIONALS</h3>
                                        <i class="la la-ellipsis-v"></i>
                                    </div>
                                    <div class="profiles-slider">
                                        <div class="user-profy">
                                            <img src="images/resources/user1.png" alt="">
                                            <h3>John Doe</h3>
                                            <span>Graphic Designer</span>
                                            <ul>
                                                <li><a href="#" title="" class="followw">Subscribe</a></li>

                                            </ul>
                                            <a href="#" title="">View Profile</a>
                                        </div>
                                        <div class="user-profy">
                                            <img src="images/resources/user2.png" alt="">
                                            <h3>John Doe</h3>
                                            <span>Graphic Designer</span>
                                            <ul>
                                                <li><a href="#" title="" class="followw">Subscribe</a></li>

                                            </ul>
                                            <a href="#" title="">View Profile</a>
                                        </div>
                                        <div class="user-profy">
                                            <img src="images/resources/user3.png" alt="">
                                            <h3>John Doe</h3>
                                            <span>Graphic Designer</span>
                                            <ul>
                                                <li><a href="#" title="" class="followw">Subscribe</a></li>

                                            </ul>
                                            <a href="#" title="">View Profile</a>
                                        </div>
                                        <div class="user-profy">
                                            <img src="images/resources/user1.png" alt="">
                                            <h3>John Doe</h3>
                                            <span>Graphic Designer</span>
                                            <ul>
                                                <li><a href="#" title="" class="followw">Subscribe</a></li>

                                            </ul>
                                            <a href="#" title="">View Profile</a>
                                        </div>
                                        <div class="user-profy">
                                            <img src="images/resources/user2.png" alt="">
                                            <h3>John Doe</h3>
                                            <span>Graphic Designer</span>
                                            <ul>
                                                <li><a href="#" title="" class="followw">Subscribe</a></li>

                                            </ul>
                                            <a href="#" title="">View Profile</a>
                                        </div>
                                        <div class="user-profy">
                                            <img src="images/resources/user3.png" alt="">
                                            <h3>John Doe</h3>
                                            <span>Graphic Designer</span>
                                            <ul>
                                                <li><a href="#" title="" class="followw">Subscribe</a></li>

                                            </ul>
                                            <a href="#" title="">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-bar">
                                    <div class="post_topbar">
                                        <div class="usy-dt">
                                            <img src="images/resources/us-pic.png" alt="">
                                            <div class="usy-name">
                                                <h3>John Doe</h3>
                                                <span>
                                                    <img src="images/clock.png" alt="">3 min ago
                                                </span>
                                            </div>
                                        </div>
                                        <div class="ed-opts">
                                            <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                                            <ul class="ed-options">
                                                <li><a href="#" title="">Edit Post</a></li>
                                                <li><a href="#" title="">Unsaved</a></li>
                                                <li><a href="#" title="">Unbid</a></li>
                                                <li><a href="#" title="">Close</a></li>
                                                <li><a href="#" title="">Hide</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="epi-sec">
                                    </div>
                                    <div class="job_descp">
                                        <h3>Senior Wordpress Developer</h3>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit metus, ut ullamcorper quam finibus at. Etiam id magna sit amet... <a href="#" title="">view more</a></p>

                                    </div>
                                    <div class="job-status-bar">
                                        <ul class="like-com">

                                            <li><a href="#" class="com"><i class="fas fa-comment-alt"></i>Comment 15</a></li>
                                        </ul>
                                        <a href="#"><i class="fas fa-eye"></i>Views 50</a>
                                    </div>
                                </div>
                                <div class="post-bar">
                                    <div class="post_topbar">
                                        <div class="usy-dt">
                                            <img src="images/resources/us-pic.png" alt="">
                                            <div class="usy-name">
                                                <h3>John Doe</h3>
                                                <span>
                                                    <img src="images/clock.png" alt="">3 min ago
                                                </span>
                                            </div>
                                        </div>
                                        <div class="ed-opts">
                                            <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                                            <ul class="ed-options">
                                                <li><a href="#" title="">Edit Post</a></li>
                                                <li><a href="#" title="">Unsaved</a></li>
                                                <li><a href="#" title="">Unbid</a></li>
                                                <li><a href="#" title="">Close</a></li>
                                                <li><a href="#" title="">Hide</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="epi-sec">
                                    </div>
                                    <div class="job_descp">
                                        <h3>Senior Wordpress Developer</h3>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit metus, ut ullamcorper quam finibus at. Etiam id magna sit amet... <a href="#" title="">view more</a></p>

                                    </div>
                                    <div class="job-status-bar">
                                        <ul class="like-com">

                                            <li><a href="#" class="com"><i class="fas fa-comment-alt"></i>Comment 15</a></li>
                                        </ul>
                                        <a href="#"><i class="fas fa-eye"></i>Views 50</a>
                                    </div>
                                </div>
                                <div class="process-comm">
                                    <div class="spinner">
                                        <div class="bounce1"></div>
                                        <div class="bounce2"></div>
                                        <div class="bounce3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 pd-right-none no-pd">
                        <div class="right-sidebar">

                            <div class="widget widget-jobs">
                                <div class="sd-title">
                                    <h3>Articles</h3>
                                    <i class="la la-ellipsis-v"></i>
                                </div>
                                <div class="jobs-list">
                                    <div class="job-info">
                                        <div class="job-details">
                                            <h3>Senior Product Designer</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                        </div>
                                        <div class="hr-rate">
                                            <span>$25/hr</span>
                                        </div>
                                    </div>
                                    <div class="job-info">
                                        <div class="job-details">
                                            <h3>Senior UI / UX Designer</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                        </div>
                                        <div class="hr-rate">
                                            <span>$25/hr</span>
                                        </div>
                                    </div>
                                    <div class="job-info">
                                        <div class="job-details">
                                            <h3>Junior Seo Designer</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                        </div>
                                        <div class="hr-rate">
                                            <span>$25/hr</span>
                                        </div>
                                    </div>
                                    <div class="job-info">
                                        <div class="job-details">
                                            <h3>Senior PHP Designer</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                        </div>
                                        <div class="hr-rate">
                                            <span>$25/hr</span>
                                        </div>
                                    </div>
                                    <div class="job-info">
                                        <div class="job-details">
                                            <h3>Senior Developer Designer</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                        </div>
                                        <div class="hr-rate">
                                            <span>$25/hr</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="post-popup job_post">
    <div class="post-project">
        <h3>Ask a Question</h3>
        <div class="post-project-fields">
            <div>
                <div class="row">
                    <div class="col-lg-12">
                        <input type="text" name="title" placeholder="Title">
                    </div>


                    <div class="col-lg-12">
                        <textarea name="description" placeholder="Description"></textarea>
                    </div>
                    <div class="col-lg-12">
                        <ul>
                            <li>
                                <button class="active" type="submit" value="post">Post</button>
                            </li>
                            <li><a href="#" title="">Cancel</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" title=""><i class="la la-times-circle-o"></i></a>
    </div>
</div>

