@page
@model MindPlaceClient.Pages.TherapistModel
@{
    ViewData["Title"] = "Therapist";
}

<section class="companies-info">
    <div class="container">
        <div class="company-title">
            <h3>Professionals</h3>
        </div>
        <div class="companies-list">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="company_profile_info">
                        <div class="company-up-info">
                            <img src="~/assets/img/user1.png" alt="">
                            <h3>Peter John.</h3>

                            <ul>
                                <li><a href="#" title="" class="follow">Subcribe</a></li>
                            </ul>
                        </div>
                        <a href="company-profile.html" title="" class="view-more-pro">View Profile</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="company_profile_info">
                        <div class="company-up-info">
                            <img src="~/assets/img/user1.png" alt="">
                            <h3>Peter John.</h3>

                            <ul>
                                <li><a href="#" title="" class="follow">Subcribe</a></li>
                            </ul>
                        </div>
                        <a href="company-profile.html" title="" class="view-more-pro">View Profile</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="company_profile_info">
                        <div class="company-up-info">
                            <img src="~/assets/img/user1.png" alt="">
                            <h3>Peter John.</h3>

                            <ul>
                                <li><a href="#" title="" class="follow">Subcribe</a></li>
                            </ul>
                        </div>
                        <a href="company-profile.html" title="" class="view-more-pro">View Profile</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="company_profile_info">
                        <div class="company-up-info">
                            <img src="~/assets/img/user1.png" alt="">
                            <h3>Peter John.</h3>

                            <ul>
                                <li><a href="#" title="" class="follow">Subcribe</a></li>
                            </ul>
                        </div>
                        <a href="company-profile.html" title="" class="view-more-pro">View Profile</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="company_profile_info">
                        <div class="company-up-info">
                            <img src="~/assets/img/user1.png" alt="">
                            <h3>Peter John.</h3>

                            <ul>
                                <li><a href="#" title="" class="follow">Subcribe</a></li>
                            </ul>
                        </div>
                        <a href="company-profile.html" title="" class="view-more-pro">View Profile</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="company_profile_info">
                        <div class="company-up-info">
                            <img src="~/assets/img/user1.png" alt="">
                            <h3>Peter John.</h3>

                            <ul>
                                <li><a href="#" title="" class="follow">Subcribe</a></li>
                            </ul>
                        </div>
                        <a href="company-profile.html" title="" class="view-more-pro">View Profile</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="company_profile_info">
                        <div class="company-up-info">
                            <img src="~/assets/img/user1.png" alt="">
                            <h3>Peter John.</h3>

                            <ul>
                                <li><a href="#" title="" class="follow">Subcribe</a></li>
                            </ul>
                        </div>
                        <a href="company-profile.html" title="" class="view-more-pro">View Profile</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="company_profile_info">
                        <div class="company-up-info">
                            <img src="~/assets/img/user1.png" alt="">
                            <h3>Peter John.</h3>

                            <ul>
                                <li><a href="#" title="" class="follow">Subcribe</a></li>
                            </ul>
                        </div>
                        <a href="company-profile.html" title="" class="view-more-pro">View Profile</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="process-comm">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>
</section>

