@page
@model MindPlaceClient.Pages.ProfessionalsModel
@{
    ViewData["Title"] = "Therapist";
}

<section class="companies-info">
    <div class="container">
        <div class="company-title">
            <h3>Professionals</h3>
        </div>
        <div class="companies-list">
            <div class="row">

                @if (Model.Professionals.Any())
                {
                    foreach (var professional in Model.Professionals)
                    {
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="company_profile_info">
                                <div class="company-up-info">
                                    <img src="~/assets/img/user1.png" alt="">
                                    <h3>@($"{professional.FirstName} {professional.LastName}")</h3>

                                    <ul>
                                        <li><a href="#" title="" class="follow">Subcribe</a></li>
                                    </ul>
                                </div>
                                <a asp-page="Dashboard" asp-route-username="@professional.UserName" class="view-more-pro">
                                    View Profile
                                </a>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <h3 class="align-middle text-black-50 text-center co-12">No Professional Found.</h3>
                }
            </div>
        </div>
        <div class="process-comm d-none">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>
</section>

