@page "{handler?}"
@model MindPlaceClient.Pages.SettingsModel
@{
    ViewData["Title"] = "Settings";
}


<section class="profile-account-setting">
    <div class="container">
        <div class="account-tabs-setting">
            <div class="row">
                <div class="col-lg-3">
                    <div class="acc-leftbar">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-notification-tab" data-toggle="tab" href="#nav-notification" role="tab" aria-controls="nav-notification" aria-selected="false">
                                <i class="fa fa-flash"></i>Notifications
                            </a>
                            <a class="nav-item nav-link" id="nav-password-tab" data-toggle="tab" href="#nav-password" role="tab" aria-controls="nav-password" aria-selected="false">
                                <i class="fa fa-lock"></i>Change Password
                            </a>
                            <a class="nav-item nav-link" id="nav-privcy-tab" data-toggle="tab" href="#privcy" role="tab" aria-controls="privacy" aria-selected="false">
                                <i class="fa fa-group"></i>Requests
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-notification" role="tabpanel" aria-labelledby="nav-notification-tab">
                            <div class="acc-setting">
                                <h3>Notifications</h3>
                                <div class="notifications-list">
                                    @if (Model.UserNotifications != null && Model.UserNotifications.Any())
                                    {
                                        foreach (var notification in Model.UserNotifications)
                                        {
                                            var rand = new Random();
                                            var randomNumber = rand.Next(1, 4);
                                            var profileUrl = $"~/images/resources/ny-img{randomNumber}.png";
                                            <div class="notfication-details">
                                                <div class="noty-user-img">
                                                    <img src="@profileUrl" alt="">
                                                </div>
                                                <div class="notification-info">
                                                    <h3><a href="#" title="">@notification.Creator.FullName</a> @notification.Message</h3>
                                                    <span>2 min ago</span>
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <h3 class="h3 text-black-50 text-center py-4">No Notification Found.</h3>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-password" role="tabpanel" aria-labelledby="nav-password-tab">
                            <div class="acc-setting">
                                <h3>Account Setting</h3>
                                <form id="changePasswordForm" method="post" asp-page-handler="ChangePassword">
                                    <div id="validationSummary" class="text-danger text-left pl-4 py-2"></div>
                                    <div class="cp-field mt-3">
                                        <h5>Old Password</h5>
                                        <div class="cpp-fiel">
                                            <input type="password" asp-for="PasswordDetails.OldPassword" class="col-sm-8 col-md-6" />
                                            <i class="fa fa-lock"></i>
                                            <span asp-validation-for="PasswordDetails.OldPassword" class="text-danger d-block"></span>
                                        </div>
                                    </div>
                                    <div class="cp-field">
                                        <h5>New Password</h5>
                                        <div class="cpp-fiel">
                                            <input type="password" asp-for="PasswordDetails.NewPassword" class="col-sm-8 col-md-6" />
                                            <i class="fa fa-lock"></i>
                                            <span asp-validation-for="PasswordDetails.NewPassword" class="text-danger d-block"></span>
                                        </div>
                                    </div>
                                    <div class="cp-field">
                                        <h5>Repeat Password</h5>
                                        <div class="cpp-fiel">
                                            <input asp-for="PasswordDetails.ConfirmPassword" class="col-sm-8 col-md-6" />
                                            <i class="fa fa-lock"></i>
                                            <span asp-validation-for="PasswordDetails.ConfirmPassword" class="text-danger d-block"></span>
                                        </div>
                                    </div>
                                    <div class="save-stngs pd2">
                                        <ul>
                                            <li><button type="submit">Save Changes</button></li>
                                        </ul>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="privcy" role="tabpanel" aria-labelledby="nav-privcy-tab">
                            <div class="acc-setting">
                                <h3>Requests</h3>
                                <div class="requests-list">
                                    <div class="request-details">
                                        <div class="noty-user-img">
                                            <img src="images/resources/r-img1.png" alt="">
                                        </div>
                                        <div class="request-info">
                                            <h3>Jessica William</h3>
                                            <span>Graphic Designer</span>
                                        </div>
                                        <div class="accept-feat">
                                            <ul>
                                                <li><button type="submit" class="accept-req">Accept</button></li>
                                                <li><button type="submit" class="close-req"><i class="la la-close"></i></button></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="request-details">
                                        <div class="noty-user-img">
                                            <img src="images/resources/r-img2.png" alt="">
                                        </div>
                                        <div class="request-info">
                                            <h3>John Doe</h3>
                                            <span>PHP Developer</span>
                                        </div>
                                        <div class="accept-feat">
                                            <ul>
                                                <li><button type="submit" class="accept-req">Accept</button></li>
                                                <li><button type="submit" class="close-req"><i class="la la-close"></i></button></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="request-details">
                                        <div class="noty-user-img">
                                            <img src="images/resources/r-img3.png" alt="">
                                        </div>
                                        <div class="request-info">
                                            <h3>Poonam</h3>
                                            <span>Wordpress Developer</span>
                                        </div>
                                        <div class="accept-feat">
                                            <ul>
                                                <li><button type="submit" class="accept-req">Accept</button></li>
                                                <li><button type="submit" class="close-req"><i class="la la-close"></i></button></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="request-details">
                                        <div class="noty-user-img">
                                            <img src="images/resources/r-img4.png" alt="">
                                        </div>
                                        <div class="request-info">
                                            <h3>Bill Gates</h3>
                                            <span>C & C++ Developer</span>
                                        </div>
                                        <div class="accept-feat">
                                            <ul>
                                                <li><button type="submit" class="accept-req">Accept</button></li>
                                                <li><button type="submit" class="close-req"><i class="la la-close"></i></button></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="request-details">
                                        <div class="noty-user-img">
                                            <img src="images/resources/r-img5.png" alt="">
                                        </div>
                                        <div class="request-info">
                                            <h3>Jessica William</h3>
                                            <span>Graphic Designer</span>
                                        </div>
                                        <div class="accept-feat">
                                            <ul>
                                                <li><button type="submit" class="accept-req">Accept</button></li>
                                                <li><button type="submit" class="close-req"><i class="la la-close"></i></button></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="request-details">
                                        <div class="noty-user-img">
                                            <img src="images/resources/r-img6.png" alt="">
                                        </div>
                                        <div class="request-info">
                                            <h3>John Doe</h3>
                                            <span>PHP Developer</span>
                                        </div>
                                        <div class="accept-feat">
                                            <ul>
                                                <li><button type="submit" class="accept-req">Accept</button></li>
                                                <li><button type="submit" class="close-req"><i class="la la-close"></i></button></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    @if(ModelState.Keys.Contains("") && ModelState[""].Errors.Count > 0)
    {
        var message = ModelState[""].Errors.Select(e => e.ErrorMessage).First();

        <script>
            $(document).ready(function () {
                alert("@message");
            });
        </script>
    }
}
