/*************************** Global ******************************/
.btn-primary, .btn-primary:hover {
    background-color: #f35f09!important;
    border: 1px solid #f35f09!important;
    color: #fff!important;
}

.btn-secondary, .btn-secondary:hover {
    background-color: #e4e6eb !important;
    border: 1px solid #e4e6eb!important;
    color: #050505 !important;
}

.form-check {
    padding-left: 1.25rem;
}

.form-check input{
    height:1em!important;
    width: 1em!important;
}

.passwordFieldContainer > input {
    padding-right: 32px;
}
.togglePassword {
    position: absolute;
    top: 12px;
    right:12px;
}

#notificationBox[data-status=loading], #notificationBox[data-status=empty] {
    min-height: 100px;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**********USER PROFILE MODAL**********/
#profileModal .modal-content {
    max-height: 250px;
}
.custom-modal .modal-content {
    border-radius: 8px;
}

    .custom-modal .modal-content .modal-body {
        padding: 16px;
    }


.profile-wrapper .image-Wrapper {
    flex-basis: 56px;
    max-width: 56px;
    height: 56px;
    max-height: 56px;
}

    .profile-wrapper .image-Wrapper img {
        width: 56px;
        max-width: 56px;
        max-height: 100%;
    }

.profile-wrapper .user-details {
    flex-basis: auto;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 15px;
    height: auto;
    max-height: 100%;
    overflow-y: auto;
}

    .profile-wrapper .user-details .card-title {
        padding-left: 6px;
        padding-right: 6px;
        font-size: 20px;
    }

    .profile-wrapper .user-details p {
        color: #050505;
    }

    .profile-wrapper .user-details .card-text > * {
        padding-left: 6px;
        padding-right: 6px;
        margin-bottom: 0;
    }

    .profile-wrapper .user-details .card-text .icon-container {
        font-size: 20px;
        color: #1c1e21;
        padding-top: .25rem;
    }

alert .closebtn {
    position: absolute;
    top: 18px;
    direction: ltr;
    /* color: #000000; */
    right: 18px;
    font-size: 30px;
}

@media (min-width: 576px) {
    #profileModal .modal-dialog {
        max-width: 400px;
    }
}
/**********ASK QUESTION MODALS**********/
@media (max-width: 499px) {
    .overview-box {
        width: 100%
    }
}





.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: #ff8e42;
    font-size: 3px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

    .loader:before,
    .loader:after {
        content: '';
        position: absolute;
        top: 0;
    }

    .loader:before {
        left: -3.5em;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .loader:after {
        left: 3.5em;
    }

@-webkit-keyframes load7 {
    0%, 80%, 100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%, 80%, 100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}


.loader {
    font-size: 15px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 7px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%, 95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%, 59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%, 95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%, 59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}



/*************************** NAVIGATION ******************************/

@media (max-width: 576px) {
    .logo {
        float:none;
        width: 80px;
        margin-left: auto;
        margin-right: auto;
    }

    .user-account {
        border: none;
    }
}

/*************************** REGISTER PAGE ******************************/
.left #signUpForm .form-group {
    text-align: left;
}

.signup-tab {
    width: 100%;
    /*border: 1px solid #e5e5e5;*/
    text-align: center;
    padding: 10px 0 0;
    margin-bottom: 1rem;
    position: relative;
    margin-top: -30px;
}

.signup-tab ul li {
    display: inline-block;
    margin-right: -4px;
}

.signup-tab ul li a {
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    background-color: #e5e5e5;
    padding: 10px 15px;
    -webkit-border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;
    display: inline-block;
}

    .signup-tab ul li.current a {
        background-color: #f35f09;
        color: #fff;
    }


/*************************** Dashboard PAGE ******************************/

/*******Upload Profile Picture Area**********/
.usr-pic .add-dp {
    position: absolute;
    top: 65%;
    left: 87%;
}

#updateProfilePictureForm .imagePreview {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: #e4e6eb;
    margin-bottom: 1rem;
    position:relative
}

    #updateProfilePictureForm .imagePreview.uploading::before {
        content: "Uploading...";
        display: flex;
        justify-content: center;
        align-items: center;
        height:100%;
        width: 100%;
        background-color: white;
        opacity: 0.4;
        position: absolute;
        z-index: 50;
    }


/*******Upload Profile Picture Area End**********/

.commentsContainer {
    padding: 10px;
    background-color: #fcfcfc;
    max-height: 350px;
    overflow-y: auto;
}

/*.comments-wrapper {
    max-height: 300px;
    overflow-y: auto;
}*/

.comments h3 {
    color: #000;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

.comments span {
    color: #b2b2b2;
    font-size: 14px;
    display: block;
    margin-bottom: 14px;
}

.comments span img {
    position: relative;
    top: 2px;
    margin-right: 5px;
}

.comments p {
    color: #686868;
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 20px;
}

.post-comment .cm_img {
   width:40px;
}

.post-comment .comment_box {
    width: calc(100% - 40px);
}

.comment_box form .commentInput {
    height: 50px;
    width: 100%;
    border: 1px solid #e5e5e5;
    background-color: #efefef;
    padding-left: 10px;
    color: #b2b2b2;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    resize: none;
}

.comment_box form button {
    color: #fff;
    background-color: #f35f09;
    height: 40px;
    padding: 0 10px;
    text-align: center;
    font-size: 14px;
    border: 0;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 600;
}

    .comment_box form button:disabled {
        background-color: #fff;
        color: #bec3c9;
        border: 1px solid #bec3c9;
        cursor: default;
    }

@media (max-width: 410px) {
    .post-topbar .ed-opts {
        float: none;
        position: absolute;
        right: 20px;
        top: 7px;
    }
}


/*float: left;
width: 100%;
padding: 20px;*/
/*************************** MESSAGES PAGE ******************************/
.message-send-area form > ul {
    float: left;
    width: 100%;
    margin-top: 15px;
}

    .message-send-area form > ul li {
        display: inline-block;
        margin-right: 20px;
    }

    .message-send-area form > ul li a {
        color: #b2b2b2;
        font-size: 18px;
    }




/*************************** FORUM PAGE ******************************/
.forum-nav .forum-nav__search-group {
    display: none;
    position: relative;
    font-size: 14px;
    height: 35px;
    padding: 0 8px;
}

.forum-nav__search-group .dropdown-menu{
    width: initial;
}

.forum-nav__search-group .dropdown-menu a {
    padding: .5rem 1.5rem;
    margin-bottom: 0;
}

    .forum-nav__search-group .dropdown-menu a.active {
        color: #F35F09;
        background-color: transparent;
    }


.forum-nav__search-group input.form-control {
    /*background-color: #FAF8FA;
        border: 1px solid #E5E5E5;*/
    color: #b2b2b2;
    padding-right: 24px;
    transition: all 0.5s
}

.forum-nav__search-group input.form-control:focus{
   border: 1px solid #F35F09;
   box-shadow:none;
}

.forum-nav__search-group__filter-button {
    font-size: 25px;
    color: #b2b2b2;
    margin-right: .3em;
    align-self: center;
    background-color: white;
    border: none;
    transition:all 0.4s
}

    .forum-nav__search-group__filter-button:focus {
        color: #F35F09;
        outline: none;
    }

.forum-nav__search-group__search-icon {
    position: absolute;
    top: .7rem;
    right: 15px;
    font-size: 15px;
    color: #b2b2b2;
}

.forum-nav ul li {
    padding: 20px 0;
}

.forum-nav ul li.active {
    border-bottom: 2px solid #e44d3a;
}

.forum-nav ul li a {
    color: #b2b2b2;
    font-size: 14px;
    font-weight: 600;
    padding-top: 0;
    padding-bottom: 0;
}

.forum-nav ul li.active a {
    color: #e44d3a;
}

#forumForm span {
    float: none;
    margin-bottom: 0;
}

div.tags-container input {
    height: 25px;
    width: 120px;
}

div.tag {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    float: none;
    width: auto;
    padding: 8px;
    margin-right: 0.5em;
    margin-top: .25em;
    background-color: #e4e6eb;
    border-radius: 16px;
}

span.tag__name {
    color: #050505;
    font-size:14px;
}



.tags-container__suggestion-box {
    display:flex;
    flex-direction: column;
    position: relative;
    /*min-height: 50px;*/
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    border-radius: 0 0 8px 8px;
}

    .tags-container__suggestion-box span {
        color: #00000080;
        font-size: 16px;
    }

        .tags-container__suggestion-box span:hover {
            background-color: #e4e6eb;
            color: #050505;
            cursor:pointer;
        }


    @media (max-width: 479px) {
        .forum-nav {
        flex-direction: column;
        align-items: center;
    }

    .forum-nav__search-group {
        width: 100%;
        order: 2;
        margin-top:15px;
    }

    .forum-nav__search-group__filter-button {
        margin-left: -1px;
    }
}

@media (max-width: 992px) {
    .forum-nav {
        padding-top: 8px;
        padding-bottom: 8px;
        align-items: center;
    }

        .forum-nav .nav {
            display: none;
        }

        .forum-nav .forum-nav__search-group {
            display: flex;
        }

    .forum-nav__search-icon {
        display: none;
    }
}








/*************************** FORUM POST PAGE ******************************/

.ask-question--loggedin_false {
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 3px;
}

.forum-post-view {
    border-bottom: none;
}

.post-comment-box {
    padding: 0;
}

    .post-comment-box > h3 {
        padding: 13px 20px;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
    }

    .post-comment-box > .user-poster {
        padding: 20px;
    }

    .post-comment-box .comment-sec ul li {
        padding: 23px 0;
    }

    .post-comment-box .comment-sec ul li:not(:last-child) {
        border-bottom: 1px solid #e5e5e5;
    }

    .post-comment-box .comment h3 {
        margin-bottom: 9px;
        font-size: 16px;
    }

.comment-section {
    border-bottom: 1px solid #e5e5e5;
    max-height: 533px;
    overflow: auto;
    padding-bottom: 0;
    padding-top: 0;
    box-shadow:none;
}

.post_comment_sec form textarea {
    float: left;
    width: 100%;
    height: 130px;
    border: 1px solid #dce2eb;
    padding: 15px;
    resize: none;
}

.post_comment_sec form button {
    color: #ffffff;
    font-size: 14px;
    background-color: #e44d3a;
    padding: 10px 25px;
    border: 0;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
}
    .post_comment_sec form button:disabled {
        background-color: #fff;
        color: #bec3c9;
        border: 1px solid #bec3c9;
        cursor: default;
    }

@media (max-width: 410px) {
    .quest-tags li {
         width: auto; 
    }
}


/*@media (max-width: 395px){
    .forum-post-view{
        border-bottom:none;
    }
    .post-comment-box {
        padding: 0;
    }
        .post-comment-box > h3 {
            padding: 13px 20px;
            border-top: 1px solid #e5e5e5;
            border-bottom: 1px solid #e5e5e5;
        }

        .post-comment-box > .user-poster {
            padding: 20px;
        }
    .comment-section {
        padding-bottom: 0;
        border-bottom: 1px solid #e5e5e5;
    }
}*/








/*************************** PROFESSIONAL PAGE ******************************/




/*************************** SETTINGS PAGE ******************************/
.nav-tabs a#nav-workandeducation-tab {
    line-height: 16px;
}

#work-education section,
#work-education div {
    float: none; /*resetting template code.*/
}

#work-education .work-edu-wrapper {
    padding: 1.25em;
}

#work-education .descriptive-img-container {
    width: 40px;
    min-width: 40px;
}

#work-education .descriptive-img-container img {
    margin-top: -4px;
}

.work-edu-wrapper .heading {
    font-size: 18px;
}


.btn-addNew, .btn-addNew:hover {
    color: #f35f09;
    font-size: 15px;
}

.btn-addNew .icon{
    font-size: 20px;
    border: 1px solid #f35f09!important;
    border-radius: 50%;
}

#mindPlaceModal .modal-header {
    display:flex!important;
    background-color: #f35f09;
    color: #fff;
}

#mindPlaceModal div input, #mindPlaceModal div textarea, #mindPlaceModal div select {
    color: #b2b2b2;
    font-size: 14px;
    border: 1px solid #e5e5e5;
    font-weight: 500;
}

#mindPlaceModal div input, #mindPlaceModal div select {
    height: 40px;
}

.action-block {
    align-self: self-start;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: #e4e6eb !important;
    color: #050505 !important;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}

button.action-block:hover {
    cursor: pointer
}
